* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

header{
    display: flex;
    padding: 0 10vw;
    justify-content: space-between;
    background-color: #ff0000;
    align-items: center;
    height: 15vh;
}

h1{
    color: aliceblue;
}

header .button{
    width: 12vw;
    cursor: pointer;
    color: #ff0000;
    border: 2px solid #ff0000;
    background-color: #fff;
    height: 5.5vh;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    
}

header button:hover{
    background-color:  #FFD700;
    color: #0000FF;
    border: 2px solid #fff;
}

main{
    display: flex;
}

aside{
    display: flex;
    height: 85vh;
    width: 27vw;
    flex-direction: column;
    text-align: left;
    border-right: 2px solid #ff0000;
    padding: 7vh 3vw 0;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    margin-bottom: 5vh;
    width: 80%;
}

.search input{
    border: 2px #ff0000 solid;
    border-radius: 10px;
    height: 40px;
    width: 60%;
    background-color: aliceblue;
    padding-left: 1vw;
    outline: none;
}

.search .button{
    width: 35%;
    cursor: pointer;
    color: #fff;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    height: 3em;
    border-radius: 1vw;
    transition: 0.3s ease-in-out;
    margin-right: -1vw;
} 

.search button:hover{
    background-color:  #FFD700;
    color: #0000FF;
    border: 2px solid black;
}

.informations{
    display: flex;
    flex-direction: row;
}

.informations input{
    margin-right: 0.5vw;
    cursor: pointer;
}

.informations label{
    cursor: pointer;
    color: rebeccapurple;
    
}

.total__price{
    font-weight: bold;
    color: #00134c;
    margin-top: 5vh;
}

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5vh 3vw;
    grid-row-gap: 3vh;
    grid-column-gap: 3vw;
}

.item {
    width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border: 0.2vw solid #ff0000;
    border-radius: 1vw;
    overflow: hidden;
}

.item h2 {
    margin-left: 1vw;
    color: black;
}

.item p {
    color: black;
    margin: 2vh 0 2vh 1vw;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}

.actions button {
    width: 45%;
    height: 5vh;
    border: none;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.actions button:hover {
    color: #0000FF;
    background-color: #FFD700;
}

.edit {
    background-color: red;
    color: white;
}

.delete {
    background-color: red;
    color: white;
}

.alert {
    width: 0;
    height: 25vh;
    background-color: white;
    color: red;
    position: absolute;
    right: 3vw;
    top: 10vh;
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
