.featured_destination{
    display: flex;
    justify-content: center;
}

.texts{
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    align-items: center;
    margin: 12vh 0 5vh;
}

.featured_destinations .header_text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.featured_destinations .link{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    color: #FB8F1D;
    text-decoration: none;
}

.landmarks {
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    align-items: center;
}

main .img_and_text{
    position: relative;
    margin-bottom: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

main .img_and_text img{
    border-radius: 8px;
}

.img_and_text_name {
    background: #FFFFFF;
    border-radius: 0 6px 0 0;
    width: 120px;
    padding: 11px 11px 0 0;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    color: #042521;
    transition: 0.3s;
}

.img_and_text_name:hover{
    background-color: #FFFFFF;
    color: #80918E;
}

.landmarks img{
    width: 100%;
}

.img_and_text_name{
    position: absolute;
    bottom: 0;
    left: 0;
}

.img_and_text{
    display: flex;
    justify-content: center;
    margin: 0 2vw;
}

@media screen and (max-width: 1024px) {
    main .featured_destinations{
        padding: 0 5vw 0 5vw;
    }

    main .landmarks {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main .header_text{
        font-size: 8vh;
        text-align: center;
    }

    .featured_destinations .link{
        display: none;
    }

    main .img_and_text{
        margin-bottom: 8vh;
        width: 40%;

    }

    .landmarks img{
        width: 100%;
        flex: wrap;
        align-items: center;
    }

    .texts{
        justify-content: center;
    }
}
@media screen and  (max-width: 720px){
    .landmarks .img_and_text{
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
    .landmarks img{
        width: 100%;
        gap: 25px;
    }

    .img_and_text_name{
        position: absolute;
        bottom: 0;
        left: 0;
        
    }

    .img_and_text{
        display: flex;
        justify-content: center;
        margin: 0 1em;

    }
}
@media screen and (min-width: 1745px) and (max-width: 2560px){
    .texts .header_text {
        justify-content: space-between;
        font-size: 2.5vw;
    }

    .featured_destinations .link{
        font-size: 1.2vw;
    }

    main .landmarks {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main .header_text{
        font-size: 8vh;
        text-align: center;
    }

    main .img_and_text{
        margin-bottom: 8vh;
        width: 15%;
    }

}
