body {
    font-family: "Inter";
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-weight: 500;
    font-size: 16px;
}

li{
    display: block; 

}

nav ul li a {
    text-decoration: none;
    color: #B8BECD;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #202336;
}
